
<%= @user.username %>
<form id="tweet_form" method="get" action="/<%= @user.username %>/tweets">
  <p><textarea id="tweet_input" name="tweet" cols="30" rows="10" placeholder="Enter your tweet here">
  </textarea></p>
  <input type="submit" value="Send Tweet">


</form>



